.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Slider {
  margin: 30px auto;
  width: 50%;
  background-color: #682b7a;
  color: #fff;
  border: solid black 1px;
  padding: 35px;
}

.Slider div:focus {
  outline: none;
}
